@use '../../../src/styles/partials/variables';
@use '../../../src/styles/partials/responsive';

.wrapper {
  text-align: center;
  width: fit-content;
  height: 100%;
  margin-top: 15px;
}

.treeCategoryItem {
  text-decoration: none;
  color: variables.$black;
}