.formControl {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & .inputLabel {

  }

  input[type="text"] {
    min-width: 200px;
    width: fit-content;
    padding: 5px 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px black;
    }
  }
  .errorText {
    color: red;
  }
}