@use '../../../src/styles/partials/variables';
@use '../../../src/styles/partials/responsive';

.pageTitle {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
.animalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  width: 100%;
}

.animalName {
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
}

.animalImage {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.categoryLink {
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
}

.animalInformation {
  font-size: 24px;
  text-align: left;
}

.animalDescription {
  margin-bottom: 10px;
}

.animalSpecies,
.animalHabitat,
.animalConservation {
  margin-bottom: 5px;
}

.animalSpecies span,
.animalHabitat span,
.animalConservation span {
  font-weight: bold;
  margin-right: 5px;
}






